body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");
}

.game {
	&_wrapper {
		position: relative;
		background-color: #DEA;
		background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");
		padding: 0 10px;
	}
	&_overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparentize(#DEA, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		z-index: -1;

		&_inner {
			display: block;
		}
		&_text {
			color: #FFFFFF;
			font-size: 64px;
			margin-bottom: 10px;
		}
	}
	&_board {
		width: 100%;
		min-height: 400px;
		margin-bottom: 10px;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		&_item {
			width: 120px;
			height: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 64px;
			background-color: #FFFFFF;
			margin-bottom: 20px;
		}
	}
	&_status {
		padding: 0 10px;;
		display: flex;
		align-items: center;
		justify-content: center;

		&_name {
			line-height: 0;
		}
	}
}